<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>家校企管理平台</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/layui/css/layui.template.css">
    <link rel="shortcut icon" href="/layui/images/face/65.gif"/>
    <script src="/js/jquery.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">家校企管理平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--<ul class="layui-nav layui-layout-left">-->
            <!--<li class="layui-nav-item"><a href="">控制台</a></li>-->
            <!--<li class="layui-nav-item"><a href="">产品管理</a></li>-->
            <!--<li class="layui-nav-item"><a href="">用户</a></li>-->
            <!--<li class="layui-nav-item">-->
                <!--<a href="javascript:;">其它系统</a>-->
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a href="">邮件管理</a></dd>-->
                    <!--<dd><a href="">消息管理</a></dd>-->
                    <!--<dd><a href="">授权管理</a></dd>-->
                <!--</dl>-->
            <!--</li>-->
        <!--</ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a>管理员</a>
                <dl class="layui-nav-child">
                    <dd><a href="">管理员信息</a></dd>
                    <dd><a href="">安全设置</a></dd>
                    <dd><a href="">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    //左边导航栏
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">用户服务</a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this"><a onclick="adminIndexJs.event.studentList();">学生用户列表</a></dd>
                        <dd><a onclick="adminIndexJs.event.teacherList();">教师用户列表</a></dd>
                        <dd><a onclick="adminIndexJs.event.parentList();">家长用户列表</a></dd>
                        <dd><a onclick="adminIndexJs.event.companyList();">企业用户列表</a></dd>
                        <!--<dd><a onclick="adminIndexJs.method.orderList();">所有订单</a></dd>-->
                        <!--<dd><a href="javascript:;">用户反馈</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">管理员中心</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="adminIndexJs.method.adminList();">管理员列表</a></dd>
                        <dd><a href="javascript:;">个人中心</a></dd>
                    </dl>
                </li>
                <!--<li class="layui-nav-item"><a href="">操作记录</a></li>-->
                <!--<li class="layui-nav-item"><a href="">营业额</a></li>-->
            </ul>
        </div>
    </div>
    //內容部分
    <div class="layui-body">
        <!-- 学生列表 -->
        <div class="layui-hide" style="padding: 15px;" id="student-list">
            <div class="layui-form">
                学号
                <div class="layui-inline">
                    <input class="layui-input" id="search-uid" autocomplete="off">
                </div>
                <!--单位-->
                <!--<div class="layui-inline">-->
                    <!--<input class="layui-input" id="search-company" autocomplete="off">-->
                <!--</div>-->
                用户名
                <div class="layui-inline">
                    <input class="layui-input" id="search-name" autocomplete="off">
                </div>
                <button class="layui-btn" data-type="reload" onclick="adminIndexJs.method.userSearch();">搜索</button>
                <button class="layui-btn" data-type="reload" onclick="adminIndexJs.method.addAdmin();">添加用戶</button>
            </div>
            <table id="user-list-table" lay-filter="user-list-table-fit"></table>
            <script type="text/html" id="user-list-table-operate">
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit">编辑</a>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
                </div>
            </script>
        </div>
        <!--教师列表-->
        <div class="layui-hide" style="padding: 15px;" id="teacher-list">
            <div class="layui-form">
                学号
                <div class="layui-inline">
                    <input class="layui-input" id="search-tea-uid" autocomplete="off">
                </div>
                <!--单位-->
                <!--<div class="layui-inline">-->
                <!--<input class="layui-input" id="search-company" autocomplete="off">-->
                <!--</div>-->
                用户名
                <div class="layui-inline">
                    <input class="layui-input" id="search-tea-name" autocomplete="off">
                </div>
                <button class="layui-btn" data-type="reload" onclick="adminIndexJs.method.userSearch();">搜索</button>
                <button class="layui-btn" data-type="reload" onclick="adminIndexJs.method.addAdmin();">添加用戶</button>
            </div>
            <table id="teacher-list-table" lay-filter="user-list-table-fit"></table>
            <script type="text/html" id="teacher-list-table-operate">
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit">编辑</a>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
                </div>
            </script>
        </div>
        <!--家长列表-->
        <div class="layui-hide" style="padding: 15px;" id="parent-list">
            <div class="layui-form">
                学号
                <div class="layui-inline">
                    <input class="layui-input" id="search-parent-uid" autocomplete="off">
                </div>
                <!--单位-->
                <!--<div class="layui-inline">-->
                <!--<input class="layui-input" id="search-company" autocomplete="off">-->
                <!--</div>-->
                用户名
                <div class="layui-inline">
                    <input class="layui-input" id="search-parent-name" autocomplete="off">
                </div>
                <button class="layui-btn" data-type="reload" onclick="adminIndexJs.method.userSearch();">搜索</button>
                <button class="layui-btn" data-type="reload" onclick="adminIndexJs.method.addAdmin();">添加用戶</button>
            </div>
            <table id="parent-list-table" lay-filter="user-list-table-fit"></table>
            <script type="text/html" id="parent-list-table-operate">
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit">编辑</a>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
                </div>
            </script>
        </div>
        <!--企业列表-->
        <div class="layui-hide" style="padding: 15px;" id="company-list">
            <div class="layui-form">
                学号
                <div class="layui-inline">
                    <input class="layui-input" id="search-company-uid" autocomplete="off">
                </div>
                <!--单位-->
                <!--<div class="layui-inline">-->
                <!--<input class="layui-input" id="search-company" autocomplete="off">-->
                <!--</div>-->
                用户名
                <div class="layui-inline">
                    <input class="layui-input" id="search-company-name" autocomplete="off">
                </div>
                <button class="layui-btn" data-type="reload" onclick="adminIndexJs.method.userSearch();">搜索</button>
                <button class="layui-btn" data-type="reload" onclick="adminIndexJs.method.addAdmin();">添加用戶</button>
            </div>
            <table id="company-list-table" lay-filter="user-list-table-fit"></table>
            <script type="text/html" id="company-list-table-operate">
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit">编辑</a>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
                </div>
            </script>
        </div>

        <!-- 订单列表 -->
        <div class="layui-hide" style="padding: 15px;" id="order-list">
            <table id="order-list-table" lay-filter="user1"></table>
        </div>
        <!-- 管理员列表 -->
        <div class="layui-hide" style="padding: 15px;" id="admin-list">
            <div class="layui-form">
                ID
                <div class="layui-inline">
                    <input class="layui-input" id="search-admin-id" autocomplete="off">
                </div>
                用户名
                <div class="layui-inline">
                    <input class="layui-input" id="search-admin-user-name" autocomplete="off">
                </div>
                手机号
                <div class="layui-inline">
                    <input class="layui-input" id="search-admin-phone" autocomplete="off">
                </div>
                角色
                <div class="layui-inline">
                    <select name="role-name-select" lay-verify="required" autocomplete="off">
                        <option value="0">请选择</option>
                        <option value="1">超级管理员</option>
                        <option value="2">中级管理员</option>
                        <option value="3">低级管理员</option>
                    </select>
                </div>
                <button class="layui-btn" data-type="reload" onclick="adminIndexJs.method.adminSearch();">搜索</button>
                <div class="layui-inline">
                    <button class="layui-btn" onclick="adminIndexJs.method.addAdmin();">
                        <i class="layui-icon">&#xe608;</i> 添加管理员
                    </button>
                </div>
            </div>
            <table id="admin-list-table" lay-filter="admin-list-table-fit"></table>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
            </div>
        </div>
        <div class="layui-hide layadmin-tabsbody-item" style="padding: 15px;" id="admin-operate-list">
            操作记录
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 图像隐写在线服务平台-后台
    </div>
</div>


<div id="add-admin-panel" style="display: none;">
    <div class='layui-form'>
        <div class="layui-form-item">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-inline">
                <input type="phone" id="add-admin-mobile" required lay-verify="required" placeholder="请输入学号"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">必填</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="" id="add-admin-password" required lay-verify="required" placeholder="请输入密码"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="" id="add-admin-userName" required lay-verify="required" placeholder="请输入用户名"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-inline">
                <select id="add-admin-role" lay-verify="required" autocomplete="off">
                    <option value="0">请选择</option>
                    <option value="1">学生</option>
                    <option value="2">教师</option>
                    <option value="3">家长</option>
                    <option value="3">企业</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <button class="layui-btn" onclick="adminIndexJs.method.subAdmin();">
                    添加
                </button>
            </div>
        </div>
    </div>
</div>
<div id="dialog-edit-user-info" style="display: none;">
    <div class="pgc-questionManagement">
        <div class="layui-form filter-wrap">
            <div class="layui-form-item">
                <label class="layui-form-label">手机号:</label>
                <div class="layui-input-inline" style="width: 320px">
                    <input id="edit-mobile" disabled="disabled" class="layui-input" value=""/>
                </div>
                <div class="layui-form-mid layui-word-aux" style='color: red;'>无法更改</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名:</label>
                <div class="layui-input-inline" style="width: 320px">
                    <input id="edit-account-name" type="text" class="layui-input" value=""/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名:</label>
                <div class="layui-input-inline" style="width: 320px">
                    <input id="edit-real-name" type="text" class="layui-input" value=""/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">城市:</label>
                <div class="layui-input-inline" style="width: 320px">
                    <input id="edit-city" type="text" class="layui-input" value=""/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱:</label>
                <div class="layui-input-inline" style="width: 320px">
                    <input id="edit-email" type="text" class="layui-input" value=""/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">单位:</label>
                <div class="layui-input-inline" style="width: 320px">
                    <input id="edit-company" type="text" class="layui-input" value=""/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">职业:</label>
                <div class="layui-input-inline" style="width: 320px">
                    <input id="edit-career" type="text" class="layui-input" value=""/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">头像:</label>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="edit-portrait-btn">上传图片</button>
                    <div class="layui-input-inline" style="width: 320px">
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="edit-portrait-img"
                                 style="width: 100px;height: 100px; float: left;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layui/layui.all.js"></script>
<script type="text/javascript" src="/js/admin/adminIndex.js"></script>
</body>
</html>
